In [19]:
import pandas as pd

# Define the data path
data_path = 'C:/Users/DELL/Desktop/dataset/match_data.csv'

# Load the dataset
df = pd.read_csv(data_path)

# Display the first few rows of the dataset
print(df.head())
print(df.info())

   Unnamed: 0        date   time            comp        round  day venue  \
0        1364  2020-09-12  12:30  Premier League  Matchweek 1  Sat  Away
1        1365  2020-09-19  20:00  Premier League  Matchweek 2  Sat  Home
2        1366  2020-09-28  20:00  Premier League  Matchweek 3  Mon  Away
3        1367  2020-10-04  14:00  Premier League  Matchweek 4  Sun  Home
4        1368  2020-10-17  17:30  Premier League  Matchweek 5  Sat  Away

  result   gf   ga  ... tkl+int  err  mid 3rd  att pen  att 3rd   fls   fld  \
0      W  3.0  0.0  ...      30  0.0    343.0     26.0    145.0  12.0  12.0
1      W  2.0  1.0  ...      19  1.0    423.0     28.0    166.0  11.0  12.0
2      L  1.0  3.0  ...      18  1.0    174.0     10.0     44.0   7.0  11.0
3      W  2.0  1.0  ...      18  1.0    410.0     14.0    169.0   3.0   8.0
4      L  0.0  1.0  ...      19  0.0    239.0     13.0     92.0  10.0  15.0

   off season     team
0  2.0   2021  Arsenal
1  5.0   2021  Arsenal
2  5.0   2021  Arsenal
3  0.0   2021  Arsenal
4  2.0   2021  Arsenal

[5 rows x 55 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2036 entries, 0 to 2035
Data columns (total 55 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        2036 non-null   int64
 1   date              2036 non-null   object
 2   time              2036 non-null   object
 3   comp              2036 non-null   object
 4   round             2036 non-null   object
 5   day               2036 non-null   object
 6   venue             2036 non-null   object
 7   result            2036 non-null   object
 8   gf                2036 non-null   float64
 9   ga                2036 non-null   float64
 10  opponent          2036 non-null   object
 11  xg_x              2036 non-null   float64
 12  xga               2036 non-null   float64
 13  poss              2036 non-null   float64
 14  attendance        1332 non-null   float64
 15  captain           2036 non-null   object
 16  formation         2036 non-null   object
 17  referee           2036 non-null   object
 18  match report      2036 non-null   object
 19  notes             0 non-null      float64
 20  sh                2036 non-null   float64
 21  sot               2036 non-null   float64
 22  dist              2035 non-null   float64
 23  xg_y              2036 non-null   float64
 24  npxg              2036 non-null   float64
 25  g-xg              2036 non-null   float64
 26  sota              2036 non-null   float64
 27  saves             2036 non-null   float64
 28  save%             1986 non-null   float64
 29  att (gk)          2036 non-null   float64
 30  thr               2036 non-null   float64
 31  psxg              2036 non-null   float64
 32  psxg+/-           2036 non-null   float64
 33  ast               2036 non-null   int64
 34  xag               2036 non-null   float64
 35  xa                2036 non-null   float64
 36  kp                2036 non-null   float64
 37  1/3               2036 non-null   float64
 38  ppa               2036 non-null   float64
 39  crspa             2036 non-null   float64
 40  prgp              2036 non-null   float64
 41  attempted passes  2036 non-null   float64
 42  completed passes  2036 non-null   float64
 43  corner kicks      2036 non-null   float64
 44  shots blocked     2036 non-null   float64
 45  tkl+int           2036 non-null   int64
 46  err               2036 non-null   float64
 47  mid 3rd           2036 non-null   float64
 48  att pen           2036 non-null   float64
 49  att 3rd           2036 non-null   float64
 50  fls               2036 non-null   float64
 51  fld               2036 non-null   float64
 52  off               2036 non-null   float64
 53  season            2036 non-null   int64
 54  team              2036 non-null   object
dtypes: float64(38), int64(4), object(13)
memory usage: 875.0+ KB
None

In [20]:
# Drop unnecessary columns
columns_to_drop = ['Unnamed: 0', 'date', 'time', 'comp', 'round', 'day', 'venue', 'attendance', 'captain', 'formation', 'referee', 'match report', 'notes']
df.drop(columns=columns_to_drop, inplace=True)

# Display the first few rows after dropping columns
print(df.head())

  result   gf   ga         opponent  xg_x  xga  poss    sh  sot  dist  ...  \
0      W  3.0  0.0           Fulham   1.9  0.1  54.0  13.0  5.0  14.1  ...
1      W  2.0  1.0         West Ham   1.1  2.0  62.0   7.0  3.0  14.8  ...
2      L  1.0  3.0        Liverpool   1.3  2.7  34.0   4.0  3.0  15.0  ...
3      W  2.0  1.0    Sheffield Utd   0.6  0.2  64.0   6.0  5.0  16.3  ...
4      L  0.0  1.0  Manchester City   0.9  1.3  42.0  11.0  3.0  18.4  ...

   tkl+int  err  mid 3rd  att pen  att 3rd   fls   fld  off  season     team
0       30  0.0    343.0     26.0    145.0  12.0  12.0  2.0    2021  Arsenal
1       19  1.0    423.0     28.0    166.0  11.0  12.0  5.0    2021  Arsenal
2       18  1.0    174.0     10.0     44.0   7.0  11.0  5.0    2021  Arsenal
3       18  1.0    410.0     14.0    169.0   3.0   8.0  0.0    2021  Arsenal
4       19  0.0    239.0     13.0     92.0  10.0  15.0  2.0    2021  Arsenal

[5 rows x 42 columns]

In [17]:
# Encode categorical columns
df = pd.get_dummies(df, columns=['team', 'opponent'], drop_first=True)

# Display the first few rows after encoding
print(df.head())

  result   gf   ga  xg_x  xga  poss    sh  sot  dist  xg_y  ...  \
0      W  3.0  0.0   1.9  0.1  54.0  13.0  5.0  14.1   1.9  ...
1      W  2.0  1.0   1.1  2.0  62.0   7.0  3.0  14.8   1.1  ...
2      L  1.0  3.0   1.3  2.7  34.0   4.0  3.0  15.0   1.3  ...
3      W  2.0  1.0   0.6  0.2  64.0   6.0  5.0  16.3   0.6  ...
4      L  0.0  1.0   0.9  1.3  42.0  11.0  3.0  18.4   0.9  ...

   opponent_Manchester City  opponent_Manchester Utd  opponent_Newcastle Utd  \
0                     False                    False                   False
1                     False                    False                   False
2                     False                    False                   False
3                     False                    False                   False
4                      True                    False                   False

   opponent_Nott'ham Forest  opponent_Sheffield Utd  opponent_Southampton  \
0                     False                   False                 False
1                     False                   False                 False
2                     False                   False                 False
3                     False                    True                 False
4                     False                   False                 False

   opponent_Tottenham  opponent_West Brom  opponent_West Ham  opponent_Wolves
0               False               False              False            False
1               False               False               True            False
2               False               False              False            False
3               False               False              False            False
4               False               False              False            False

[5 rows x 86 columns]

In [21]:
# Encode the 'result' column
result_mapping = {'W': 1, 'D': 0, 'L': -1}
df['result'] = df['result'].map(result_mapping)

# Encode other categorical columns
df = pd.get_dummies(df, columns=['team', 'opponent'], drop_first=True)

# Display the first few rows after encoding
print(df.head())

   result   gf   ga  xg_x  xga  poss    sh  sot  dist  xg_y  ...  \
0       1  3.0  0.0   1.9  0.1  54.0  13.0  5.0  14.1   1.9  ...
1       1  2.0  1.0   1.1  2.0  62.0   7.0  3.0  14.8   1.1  ...
2      -1  1.0  3.0   1.3  2.7  34.0   4.0  3.0  15.0   1.3  ...
3       1  2.0  1.0   0.6  0.2  64.0   6.0  5.0  16.3   0.6  ...
4      -1  0.0  1.0   0.9  1.3  42.0  11.0  3.0  18.4   0.9  ...

   opponent_Manchester City  opponent_Manchester Utd  opponent_Newcastle Utd  \
0                     False                    False                   False
1                     False                    False                   False
2                     False                    False                   False
3                     False                    False                   False
4                      True                    False                   False

   opponent_Nott'ham Forest  opponent_Sheffield Utd  opponent_Southampton  \
0                     False                   False                 False
1                     False                   False                 False
2                     False                   False                 False
3                     False                    True                 False
4                     False                   False                 False

   opponent_Tottenham  opponent_West Brom  opponent_West Ham  opponent_Wolves
0               False               False              False            False
1               False               False               True            False
2               False               False              False            False
3               False               False              False            False
4               False               False              False            False

[5 rows x 86 columns]

In [22]:
# Handle missing values
df.fillna(df.mean(), inplace=True)

# Display the first few rows after handling missing values
print(df.head())

   result   gf   ga  xg_x  xga  poss    sh  sot  dist  xg_y  ...  \
0       1  3.0  0.0   1.9  0.1  54.0  13.0  5.0  14.1   1.9  ...
1       1  2.0  1.0   1.1  2.0  62.0   7.0  3.0  14.8   1.1  ...
2      -1  1.0  3.0   1.3  2.7  34.0   4.0  3.0  15.0   1.3  ...
3       1  2.0  1.0   0.6  0.2  64.0   6.0  5.0  16.3   0.6  ...
4      -1  0.0  1.0   0.9  1.3  42.0  11.0  3.0  18.4   0.9  ...

   opponent_Manchester City  opponent_Manchester Utd  opponent_Newcastle Utd  \
0                     False                    False                   False
1                     False                    False                   False
2                     False                    False                   False
3                     False                    False                   False
4                      True                    False                   False

   opponent_Nott'ham Forest  opponent_Sheffield Utd  opponent_Southampton  \
0                     False                   False                 False
1                     False                   False                 False
2                     False                   False                 False
3                     False                    True                 False
4                     False                   False                 False

   opponent_Tottenham  opponent_West Brom  opponent_West Ham  opponent_Wolves
0               False               False              False            False
1               False               False               True            False
2               False               False              False            False
3               False               False              False            False
4               False               False              False            False

[5 rows x 86 columns]

In [23]:
# Save the cleaned data
cleaned_data_path = 'C:/Users/DELL/Desktop/dataset/cleaned_team_data.csv'
df.to_csv(cleaned_data_path, index=False)

print(f"Cleaned data saved to {cleaned_data_path}")

Cleaned data saved to C:/Users/DELL/Desktop/dataset/cleaned_team_data.csv

In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pickle

# Load the cleaned dataset
cleaned_data_path = 'C:/Users/DELL/Desktop/dataset/cleaned_team_data.csv'
df = pd.read_csv(cleaned_data_path)

# Define features and target
X = df.drop('result', axis=1)
y = df['result']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a Random Forest classifier
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Evaluate the model
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Model accuracy: {accuracy:.2f}")

# Save the trained model
model_path = 'C:/Users/DELL/Desktop/dataset/trained_model.pkl'
with open(model_path, 'wb') as file:
    pickle.dump(model, file)

print(f"Trained model saved to {model_path}")

Model accuracy: 0.97
Trained model saved to C:/Users/DELL/Desktop/dataset/trained_model.pkl

In [25]:
import pandas as pd

# Load the cleaned dataset
cleaned_data_path = 'C:/Users/DELL/Desktop/dataset/cleaned_team_data.csv'
df = pd.read_csv(cleaned_data_path)

# Display the column names
print(df.columns)

Index(['result', 'gf', 'ga', 'xg_x', 'xga', 'poss', 'sh', 'sot', 'dist',
       'xg_y', 'npxg', 'g-xg', 'sota', 'saves', 'save%', 'att (gk)', 'thr',
       'psxg', 'psxg+/-', 'ast', 'xag', 'xa', 'kp', '1/3', 'ppa', 'crspa',
       'prgp', 'attempted passes', 'completed passes', 'corner kicks',
       'shots blocked', 'tkl+int', 'err', 'mid 3rd', 'att pen', 'att 3rd',
       'fls', 'fld', 'off', 'season', 'team_Aston Villa', 'team_Bournemouth',
       'team_Brentford', 'team_Brighton and Hove Albion', 'team_Burnley',
       'team_Chelsea', 'team_Crystal Palace', 'team_Everton', 'team_Fulham',
       'team_Leeds United', 'team_Leicester City', 'team_Liverpool',
       'team_Luton Town', 'team_Manchester City', 'team_Manchester United',
       'team_Newcastle United', 'team_Nottingham Forest',
       'team_Sheffield United', 'team_Southampton', 'team_Tottenham Hotspur',
       'team_West Bromwich Albion', 'team_West Ham United',
       'team_Wolverhampton Wanderers', 'opponent_Aston Villa',
       'opponent_Bournemouth', 'opponent_Brentford', 'opponent_Brighton',
       'opponent_Burnley', 'opponent_Chelsea', 'opponent_Crystal Palace',
       'opponent_Everton', 'opponent_Fulham', 'opponent_Leeds United',
       'opponent_Leicester City', 'opponent_Liverpool', 'opponent_Luton Town',
       'opponent_Manchester City', 'opponent_Manchester Utd',
       'opponent_Newcastle Utd', 'opponent_Nott'ham Forest',
       'opponent_Sheffield Utd', 'opponent_Southampton', 'opponent_Tottenham',
       'opponent_West Brom', 'opponent_West Ham', 'opponent_Wolves'],
      dtype='object')